body{
    background-color: #333;
}

/* NAVBAR */
nav {
    background-color: black;
}

nav ul li a{
    color: blue !important;
}

nav ul li a:hover{
    color: lightblue !important;
}

.nav-link{
    font-size: larger;
}